<h1>Rock Paper Scissors</h1>

<div class="choices">
  <div class="choice" id="rock">
    <img (click)="userGenChoice('rock')" src="../assets/images/rock.png"/>
  </div>
  <div class="choice" id="paper">
    <img (click)="userGenChoice('paper')" src="../assets/images/paper.png">
  </div>
  <div class="choice" id="scissors">
    <img (click)="userGenChoice('scissors')" src="../assets/images/scissors.png"/>
  </div>
</div>

<div class="score-board">
  <div class="score">
    <p id="user-score">{{userScore}}</p>
    <p>You</p>
  </div>
  <div class="score">
    <p id="comp-score">{{compScore}}</p>
    <p>Comp</p>
  </div>
</div>

<div class="msg-container">
  <p [style.backgroundColor]="color" id="msg">{{msg}}</p>
</div>

<h5>&copy; 2024 Manoj S J | All Rights Reserved</h5>